@media screen and (min-width: 769px) and (max-width: 1279px) {
    .wrapper_dusteen {
        flex-direction: column;
        width: 100%;
    }
    .main_info{
        width: 70vw;
        margin: 0 auto;
        order: 1;
    }
    .wrapper_dusteen img{
        order: 0;
    }
    .main_info form input[type=email] {
        width: 53vw;
    }
    .footer_container{
        flex-direction: column;
    }
    .footer_right{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footer_right h4:after{
        content: ':';
    }
    .footer_right section{
flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 980px) and (max-width: 1200px) {
    #spanCoffee {
        display: none !important;
    }

    #myButton {
        width: 60px;
    }
    #navbarSupportedContent ul {
        column-gap: 20px;
    }

}
