* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*-----------------------HEADER--------------------*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#navbarContainer {
    padding: 0 6.5%;

}

.dasteen {
    color: #001858;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
}

.dasteen:hover {
    color: #6246EA;
}

.dasteen span {
    color: #6246EA;
    font-size: 18px;
    font-weight: 700;
}

#navbarSupportedContent .nav-link {
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
}

.collapse li:last-child img {
    width: 17px;
    height: 17px;
}

#myButton {
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 700;
}

#navbarSupportedContent ul {
    column-gap: 50px;
}

#navbarSupportedContent.navbar-collapse {
    flex-grow: 0;
    gap: 50px;
}

.dropdown-toggle::after {
    display: none !important;
}

/*-----------------------MAIN--------------------*/
/*FIRST_BLOCK*/
.wrapper_dusteen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 8.1vw;
    background: #EFF0F3;
}

.main_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40vw;
}

.main_info h1 {
    color: #2B2C34;
    font-size: 64px;
    font-weight: 700;
    padding-right: 150px;
}

.main_info p {
    color: #9A9494;
    font-size: 20px;
    font-weight: 400;
    border-left: 3px solid #2B2C34;
    margin: 30px 0;
    padding-left: 12px;
}

.main_info form input[type=email] {
    width: 400px;
    height: 67px;
    border-radius: 8px;
    background: #FFFFFE;
    border: none;
    padding-left: 25px;
}

.main_info form input[type=submit] {
    width: 145px;
    height: 67px;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #6246EA;
    border: none;
    transition: 0.5s;
}

.main_info form input[type=email]::placeholder {
    color: #C0C0C0;
    font-size: 20px;
    font-weight: 400;
}

.main_info form input[type=email]:focus {
    outline: 2px solid #6246EA;

}

.main_info form input[type=submit]:hover {
    scale: 1.05;
    transition: 0.5s;
}

.main_info form {
    display: flex;
    width: 100%;
    gap: 20px;
}

#search-toggle {
    display: none;
    width: 100vw;
}

.search-panel {
    width: 100vw;
    height: 50px;
    position: absolute;
    right: 0;
    top: 70px;;
    display: none;
}

.search-panel input {
    width: 100vw;
    height: 40px;
    padding: 0 15px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
}

.search-panel input::placeholder {
    color: #6246EA;
}

.search-panel input:focus {
    outline: 3px solid #6246EA;
}

#search-toggle:checked ~ .search-panel {
    display: block;
}

/*SECOND_BLOCK*/

.categories {
    background: #EFF0F3;
    padding: 0 6.5%;
}

.browse_category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2B2C34;
    margin-bottom: 50px;
}

.browse_category h3 {
    font-size: 24px;
    font-weight: 700;
}

.browse_category p {
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.catg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    width: 14vw;
    height: 280px;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    background: #FFFFFE;
    padding-left: 32px;
    color: #232323;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 68px;
}
.catg:active{
    color:  #FFFFFE;
    background:  #6246EA;
}
.AllCategory {
    display: flex;
    justify-content: space-between;
}

.catg_white_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background: #FFFFFE;
    margin-bottom: 30px;
}

